.booking-modal-container {
    .booking-modal-content {
        display: flex;
        flex-direction: column;

        .booking-modal-header {
            padding: 10px;
            border: 1px solid #ddd;

            .left {
                font-size: 15px;
                font-weight: 600;
                color: #333;
            }

            .right {
                float: right;
            }
        }

        .booking-modal-body {
            padding: 15px;
            height: 100%;
        }

        .booking-modal-footer {
            border-top: 1px solid #ddd;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            button {
                border: none;
                outline: none;
                padding: 5px 8px;
                min-width: 75px;
                border-radius: 3px;
            }

            .btn-booking-confirm {
                background-color: rgb(249, 211, 20);
            }

            .btn-booking-cancel {
                background-color: grey;
            }
        }
    }
}