.clinic-child {
    cursor: pointer;

    .clinic-name {
        padding: 10px 0;

        &:hover {
            color: #45c3d2;
        }
    }

    .section-medical-facility {
        width: 278px !important;
        height: 150px !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-color: #eee !important;
    }
}